<div class="wrapper">
	<img src="images/logo.png" alt="UR Search">
	<form class="search-box" ng-submit="search(searchText)">
		<input class="search-field" auto-complete type="text" ng-model="searchText" placeholder="Suchbegriffe eingeben...">
		<button class="search-button" type="submit">Suche</button>
	</form>
	<div class="quick-navigation">
		<a href="http://www.ur.de" class="grips">GRIPS</a>
		<a href="https://netstorage.uni-regensburg.de/NetStorage/" class="k-laufwerk">K-Laufwerk</a>
		<a href="https://www-flexnow.uni-regensburg.de/Flexnow/" class="flex-now">Flex-Now</a>
		<a href="https://lsf.uni-regensburg.de/" class="lsf">LSF</a>
		<a href="https://gw.uni-regensburg.de/gw/webacc" class="mail">Mail</a>
		<span></span>
	</div>
</div>